@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #48555B;
  font-size: 13px;
  line-height: 23px;
}

.container {
  max-width: 941px;
  padding: 0 15px;
  margin: 0 auto;
}

.pre_header {
  width: 100%;
  min-height: 869px;
  margin: 0 auto;
  background: url("img/header/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1399px) {
  .pre_header {
    min-height: 769px;
  }
}

.pre_header .pre_header_container {
  height: 869px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1399px) {
  .pre_header .pre_header_container {
    height: 769px;
  }
}

.pre_header .pre_header_container .pre_header_img {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pre_header .pre_header_container .pre_header_text {
  margin-top: 95px;
}

.pre_header .pre_header_container .pre_header_text h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 8px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .pre_header .pre_header_container .pre_header_text h1 {
    line-height: 70px;
  }
}

.pre_header .pre_header_container .pre_header_text h2 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.pre_header .pre_header_container .header_scroll {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 71px;
  font-size: 11px;
  line-height: 13px;
  display: inline-block;
  letter-spacing: 3.7px;
  color: #FFFFFF;
}

.header {
  background: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.52);
}

.header:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.52);
}

.header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

@media (max-width: 575px) {
  .header .header_container {
    padding: 15px 15px 14px 15px;
  }
}

.header .header_container .header_logo {
  min-width: 79px;
}

.header .header_container .header_logo a {
  text-decoration: none;
}

.header .header_container .header_nav .nav_menu .sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (max-width: 767px) {
  .header .header_container .header_nav .nav_menu .sub_menu {
    display: none;
  }
}

.header .header_container .header_nav .nav_menu .sub_menu .item_menu .link_item_menu {
  text-decoration: none;
  margin-right: 47px;
  color: #1C1C1C;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1.09091px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  white-space: nowrap;
  padding: 5px;
  border-radius: 12px;
}

.header .header_container .header_nav .nav_menu .sub_menu .item_menu .link_item_menu:hover {
  color: #00A4E5;
}

.header .header_container .header_nav .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
  margin-right: 0px;
}

.header .header_container .header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}

@media (max-width: 1199px) {
  .header .header_container .header_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 991px) {
  .header .header_container .header_links {
    display: none;
  }
}

.header .header_container .header_links a.header_link_btn {
  display: inline-block;
  text-decoration: none;
  background: #6F2CFF;
  border-radius: 20px;
  padding: 11px 34px 15px 34px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header_container .header_links a.header_link_btn:hover {
  background: #F6BED9;
  color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header_container .header_links a.header_link_btn:active {
  -webkit-transition: .5s;
  transition: .5s;
  background: yellow;
  color: #0697f8;
}

.header .header_container .header_links a.header_login {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #1C1C1C;
}

.our_story {
  margin-top: 58px;
  margin-bottom: 118px;
}

@media (max-width: 991px) {
  .our_story {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .our_story {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.our_story .our_story_container .our_story_title {
  width: 130px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 82px;
}

.our_story .our_story_container .our_story_title:before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #00A4E5;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -10px;
}

.our_story .our_story_container .our_story_items_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our_story .our_story_container .our_story_items_wrapper .our_story_item_text {
  width: 50%;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .our_story_item_text {
    width: 100%;
  }
}

.our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper {
  max-width: 405px;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper h2 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  margin-bottom: 26px;
}

.our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper h2 span {
  color: #16ACE8;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper h2 {
    text-align: center;
  }
}

.our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .our_story_item_text .text_wrapper p {
    text-align: center;
  }
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .img_wrapper {
    width: 100%;
  }
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item {
  width: 30%;
  height: 224px;
  padding: 15px 0 0 14px;
}

@media (max-width: 991px) {
  .our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item {
    height: 344px;
  }
}

@media (max-width: 756px) {
  .our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item {
    height: 220px;
  }
}

@media (max-width: 470px) {
  .our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item {
    height: 190px;
  }
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item:nth-child(1) {
  background: url(./img/main/Bitmap1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item:nth-child(2) {
  background: url(./img/main/Bitmap2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item:nth-child(3) {
  background: url(./img/main/Bitmap3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our_story .our_story_container .our_story_items_wrapper .img_wrapper .img_item h2 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #FFFFFF;
  font-weight: 800;
}

.our_capabilities {
  margin-bottom: 40px;
}

.our_capabilities .our_capabilities_container {
  width: 100%;
}

.our_capabilities .our_capabilities_container .our_capabilities_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 78px;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header {
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header {
    margin-bottom: 40px;
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_header h3 {
  width: 220px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  position: relative;
  margin: 0;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header h3 {
    margin-bottom: 30px;
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_header h3:before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #00A4E5;
  left: 0;
  bottom: -10px;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header h3:before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper p {
  max-width: 405px;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
  margin: 0;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper p {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  .our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper p {
    max-width: 450px;
    text-align: center;
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_header .text_wrapper a {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #00A4E5;
  text-decoration: none;
  font-weight: 600;
}

.our_capabilities .our_capabilities_container .our_capabilities_items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_items .item {
  width: calc(31% - 39px);
  padding: 38px 22px 39px 23px;
  border: 1px solid #E6E6E6;
}

@media (max-width: 991px) {
  .our_capabilities .our_capabilities_container .our_capabilities_items .item {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.485);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.485);
  }
}

.our_capabilities .our_capabilities_container .our_capabilities_items .item .item_img {
  max-width: 66px;
}

.our_capabilities .our_capabilities_container .our_capabilities_items .item h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  margin-bottom: 13px;
}

.build {
  min-height: 450px;
  background: url(./img/main/background.png), #171819;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-top: 160px;
}

@media (max-width: 991px) {
  .build {
    min-height: 400px;
    padding-top: 120px;
  }
}

@media (max-width: 767px) {
  .build {
    min-height: 300px;
    padding-top: 0px;
  }
}

.build h2 {
  max-width: 350px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 35px;
}

.build .build_link {
  width: 150px;
  height: 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-decoration: none;
  background: #00A4E5;
}

.pre-footer {
  padding: 30px 0;
  background: #171819;
}

.pre-footer .pre_footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 127px;
}

@media (max-width: 991px) {
  .pre-footer .pre_footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pre-footer .pre_footer_container h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}

.pre-footer .pre_footer_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pre-footer .pre_footer_container form input {
  width: 250px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
  border: none;
}

@media (max-width: 576px) {
  .pre-footer .pre_footer_container form input {
    width: auto;
  }
}

.pre-footer .pre_footer_container form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
}

.pre-footer .pre_footer_container form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
}

.pre-footer .pre_footer_container form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
}

.pre-footer .pre_footer_container form input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07px;
}

.pre-footer .pre_footer_container form button {
  width: 150px;
  height: 40px;
  background: #00A4E5;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
}

.footer {
  height: 500px;
  background: #171819;
}

.toggle {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  margin-bottom: -23px;
  position: relative;
  top: 5px;
}

.toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000000;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000000;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 -8px 0 #000000;
          box-shadow: 0 -8px 0 #000000;
}

@media (max-width: 767px) {
  .toggle {
    display: block;
  }
}

.toggle.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  display: block;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.toggle.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #000000;
}

.toggle.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 0 #333;
          box-shadow: 0 0 0 #333;
  background: #000000;
}

.sidebar {
  position: fixed;
  background: #211e1f;
  opacity: 0.95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -200%;
  width: 100vw;
  height: 100vh;
}

.sidebar .active {
  right: 0;
}

.sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 470px) {
  .sidebar ul {
    margin-top: 20px;
    padding: 0;
  }
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  color: #f30505;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-bottom: 15px;
}

.sidebar ul li a:hover {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #464342;
}

@media (max-width: 470px) {
  .sidebar ul li a {
    font-size: 14px;
  }
}

.sidebar ul .header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.sidebar ul .header_links a.header_link_btn {
  display: inline-block;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 11px 34px 15px 34px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #FFFFFF;
  color: #F6BED9;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.sidebar ul .header_links a.header_link_btn:hover {
  background: #F6BED9;
  color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.sidebar ul .header_links a.header_link_btn:active {
  -webkit-transition: .5s;
  transition: .5s;
  background: yellow;
  color: #0697f8;
}

.sidebar ul .header_links a.header_login {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar ul .header_links a.header_login:hover {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #464342;
}

.sidebar.active {
  right: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  border: 0;
}
/*# sourceMappingURL=style.css.map */